<div class="full_logo">
  <%= image_tag "logo_sans_outils.PNG", :class => "background" %>
  <%= image_tag ("Tool1"), :class => "tool" %>
  <%= image_tag ("Tool2"), :class => "tool" %>
  <%= image_tag ("Tool3"), :class => "tool" %>
  <%= image_tag ("Tool4"), :class => "tool" %>
  <%= image_tag ("Tool5"), :class => "tool" %>
  <%= image_tag ("Tool6"), :class => "tool" %>
  <%= image_tag ("Tool7"), :class => "tool" %>
  <%= image_tag ("Tool8"), :class => "tool" %>
</div>
