<div class="navbar">
  <%# <h1 class="nav-title">La Véloterie</h1> %>
  <%= link_to "association", class: "navbar-brand" do %>
    <%= image_tag "baniere.png" %>
  <% end %>
  <%= link_to "Adhérer", "https://www.helloasso.com/associations/la-veloterie/adhesions/adhesion-annuel", class: "nav-link", target: :_blank %>
</div>
<div class="container">
  <div class="velo-navigation">
  </div>
  <div class="presentation-card" data-aos="fade-up-right" data-aos-duration="800">
    <div class="card-title">
      <%= image_tag "outils_cercle.png", class: "card-img-round" %>
      <h2>L'Association</h2>
    </div>
    <div class="card-description">
    <p class="mt-2"> <strong>La Véloterie</strong> est un <strong>atelier vélo participatif</strong> basé sur
    l'agglomération du Grand Cahors dans le Lot. L'atelier propose aux
    adhérent•es des <strong>outils</strong>, des <strong>pièces détachées</strong>
    et des <strong>conseils</strong> pour apprendre à réparer soi-même son vélo.</p>
    <p> Mais ce n'est pas tout ! La Véloterie se veut être un lieu fédérateur,
    inclusif, pédagogique et écologique <strong>accessible à tous•tes</Strong>
    pour valoriser le vélo et son usage.</p>
    <p>La Véloterie n'a pas encore de local permanent mais on y travaille !</p>
    <p>En attendant, pour connaitre l'ensemble des évènements organisés par La
    Véloterie consultez notre super calendrier ou notre page
    <%= link_to "Facebook", "https://www.facebook.com/La.Veloterie.Cahors", class: "card-link", target: :_blank %> !</p>
    <p>Vous pouvez également vous abonner à notre lettre d'infos en cliquant ici.</p>
    </div>
  </div>

  <div class="photos-container">
    <%= image_tag "photos/pancartes.jpg"%>
    <%= image_tag "photos/assemblee.jpg"%>
    <%= image_tag "photos/valeurs-regles.jpg"%>
  </div>

  <div class="card-right">
    <div class="presentation-card" data-aos="fade-up-left" data-aos-duration="800">
      <div class="card-title">
        <%= image_tag "outils_cercle.png", class: "card-img-round" %>
        <h2>Nos activités</h2>
      </div>
      <div class="card-description">
        <ul>
          <li>
            <p class="mt-2"><strong>Apprendre la mécanique</strong> grâce à l'accès à un atelier vélo participatif. Les
            adhérent•es ont accès aux pièces détachées et aux conseils des bénévoles pour
            réparer leur propre vélo et devenir à terme autonome.</p>
          </li>
          <li>
            <p><strong>Acquérir un vélo d'occasion</strong> pour les adhérent•es. L'atelier
            met en vente des vélos "prêts à rouler" (remis en état par un•e bénévole) ou
            "à retaper" pour pouvoir s'exercer tout en étant accompagné•e dans la réparation.</p>
          </li>
          <li>
            <p><strong>Participer à un atelier mobile</strong> à l'échelle du Grand Cahors.
            Grâce à un vélo-cargo les animateur•ices d'ateliers pourront venir à votre rencontre
            dans les écoles mais aussi au sein de votre entreprise ou de votre administration pour
            des ateliers de réparation et de sensibilisation autour du vélo.</p>
          </li>
          <li>
            <p><strong>Apprendre ou ré-apprendre à rouler</strong> grâce à la vélo-école. La Véloterie
            souhaite permettre aux petit•es comme aux grand•es d'accéder à un nouveau mode de
            déplacement et d'ainsi prendre confiance en elleux pour rouler dans la ville. Des ateliers
            dans des écoles primaires auront lieu dès la rentrée 2022.</p>
          </li>
          <li>
            <p><strong>Partir en balade à vélo</strong> avec d'autres cyclistes. De manière ponctuelle sur
            une journée, ou pour de plus grands trajets, La Véloterie offre un réseau de personnes
            avec qui pédaler. L'atelier offre également un espace dédié au voyage à vélo, avec cartes,
            itinéraires et conseils pour ses paquetages.</p>
          </li>
        </ul>
        <p>Pour connaitre l'ensemble des évenements organisés et être tenu•e au courant des actualités de
        La Véloterie consultez notre page <%= link_to "Facebook", "https://www.facebook.com/La.Veloterie.Cahors", class: "card-link", target: :_blank %>.</p>
      </div>
    </div>
  </div>

  <div class="photos-container">
    <%= image_tag "photos/mains-velo.jpg"%>
    <%= image_tag "photos/outillage.jpg"%>
    <%= image_tag "photos/serre-boulon.jpg"%>
  </div>

  <div class="presentation-card" data-aos="fade-up-right" data-aos-duration="800">
    <div class="card-title">
      <%= image_tag "outils_cercle.png", class: "card-img-round" %>
      <h2>Nos valeurs</h2>
    </div>
    <div class="card-description">
      <ul>
        <li>
          <p class="mt-2"><strong>Partager et fédérer</strong>. La Véloterie désire être un espace
          de création de lien social. Partager du temps, des connaissances ou encore un café
          entre participant•es est un des objectifs principaux de l'association. L'atelier est un lieu
          d'accueil pour les personnes de passage mais aussi pour les habitant•es de l'agglomération. Cela
          leur permet de se rencontrer, de se découvrir au delà du vélo, et de s'organiser collectivement
          autour de thèmes communs. La Véloterie a également à coeur de porter la voix des cyclistes auprès
          des pouvoirs publics et d'ainsi créer le lien entre décideur•ses et utilisateur•ices.</p>
        </li>
        <li>
          <p><strong>Inclure et rendre accessible</strong>. La véloterie est un projet collectif ouvert à
          tous•tes. Elle pratique des prix libres pour son adhésion ainsi que pour les pièces détachées de
          l'atelier. Les adhérent•es peuvent ainsi réparer leur vélo à moindre coût mais aussi s'en procurer
          un à petit prix grâce au stock de l'association. La charte établie des régles d'équité entre tous•tes.
          La Véloterie souhaite également développer le cycloféminisme avec notamment des ateliers et évenements en mixité
          choisie.</p>
        </li>
        <li>
          <p><strong>Revaloriser et recycler</strong>. Le coeur du fonctionnement de la Véloterie repose sur la
          revalorisation et la réutilisation de pièces détachées de vélos abandonnés ou inutilisés. Cela donne accès à
          des pièces parfois disparues dans le commerce et de diminuer le coût de traitement de ces matériaux pour
          les collectivités. L'association a notamment développé un partenariat avec Emmaüs Cahors : en échange d'aide
          mécanique, la Véloterie a accès au gisement de vélos d'Emmaüs. Enfin, ce fonctionnement permet la transmission de
          gestes éco-citoyens aux adhérent•es comme le recyclage, la réparation ou le détournement pour ne pas jeter.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="photos-container">
    <%= image_tag "photos/depart-balade.jpg"%>
    <%= image_tag "photos/enfants.jpg"%>
    <%= image_tag "photos/balade.jpg"%>
  </div>

  <a name="contact"></a>
  <div class="card-right">
    <div class="presentation-card" data-aos="fade-up-left" data-aos-duration="800">
      <div class="card-title">
        <%= image_tag "outils_cercle.png", class: "card-img-round" %>
        <h2>Nous rejoindre et nous suivre</h2>
      </div>
      <div class="card-description">
      <p class="mt-2">Adhérer à La Véloterie permet de nous soutenir <strong>financièrement mais aussi politiquement</strong>.
      Plus nous serons nombreux•ses, plus notre voix aura de poids auprès des pouvoirs publics.</p>
      <ul>
        <li>
          <p>L'adhésion se fait à prix libre sur HelloAsso : <%= link_to "adhérez en cliquant ici", "https://www.helloasso.com/associations/la-veloterie/adhesions/adhesion-annuel", class:"card-link", target: :_blank %>.</p>
        </li>
        <li>
          <p>Pour donner son vélo inutilisé ou pour toute autre demande vous pouvez contacter : <strong>Gabriel - 07 83 27 36 36</strong>.</p>
        </li>
        <li>
          <p>Pour suivre nos actualités RDV sur notre page <%= link_to "Facebook", "https://www.facebook.com/La.Veloterie.Cahors", class: "card-link", target: :_blank %> ou grâce à nos flyers dans la ville.</p>
        </li>
        <li>
          <p>Vous pouvez également nous écrire à l'addresse suivante : <%= mail_to "laveloterie46@gmail.com", "laveloterie46@gmail.com", class: "card-link" %>.</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <%= image_tag "partenaires/Agglomeration.jpg"%>
    <%= image_tag "partenaires/fub.jpg"%>
    <%= image_tag "partenaires/mjc.jpg"%>
    <%= image_tag "partenaires/Emmaus.jpg"%>
    <%= image_tag "partenaires/MACIF.png"%>
    <%= image_tag "partenaires/heureuxcyclage.png"%>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
