<div class="navbar">
  <%# <h1 class="nav-title">La Véloterie</h1> %>
  <%= link_to "association", class: "navbar-brand" do %>
    <%= image_tag "baniere.png" %>
  <% end %>
  <%= link_to "Adhérer", "https://www.helloasso.com/associations/la-veloterie/adhesions/adhesion-annuel", class: "nav-link", target: :_blank %>
</div>
<div class="container">
  <div class="velo-navigation">
  </div>
  <div class="presentation-card" data-aos="fade-up-right" data-aos-duration="800">
    <div class="card-title">
      <%= image_tag "outils_cercle.png", class: "card-img-round" %>
      <h2>L'Association</h2>
    </div>
    <div class="card-description">
      <p class="mt-2"> <strong>La Véloterie</strong> est un <strong>atelier vélo participatif</strong> situé dans
      l'agglomération du Grand Cahors dans le Lot. L'atelier propose aux
      adhérent•es des <strong>outils</strong>, des <strong>pièces détachées</strong>
      et des <strong>conseils</strong> pour apprendre à réparer soi-même son vélo.</p>
      <p> Mais ce n'est pas tout ! La Véloterie se veut être un lieu fédérateur,
      inclusif, pédagogique et écologique <strong>accessible à tous•tes</Strong>
      pour valoriser le vélo et son usage.</p>
      <p>La Véloterie n'a pas encore de local permanent mais on y travaille !</p>
      <p>En attendant, pour connaitre l'ensemble des évènements organisés par La
      Véloterie consultez notre super calendrier ou notre page
      <%= link_to "Facebook", "https://www.facebook.com/La.Veloterie.Cahors", class: "card-link", target: :_blank %> !</p>
      <p>Vous pouvez également vous abonner à notre lettre d'infos en cliquant ici.</p>
    </div>
  </div>

  <div class="photos-container">
    <%= image_tag "photos/pancartes.jpg"%>
    <%= image_tag "photos/assemblee.jpg"%>
    <%= image_tag "photos/valeurs-regles.jpg"%>
  </div>

  <div class="card-right">
    <div class="presentation-card" data-aos="fade-up-left" data-aos-duration="800">
      <div class="card-title">
        <%= image_tag "outils_cercle.png", class: "card-img-round" %>
        <h2>Nos activités</h2>
      </div>
      <div class="card-description">
        <ul>
          <li>
            <p class="mt-2"><strong>Apprendre la mécanique</strong> lors de nos
            permanences d'auto-réparation ou lors des sessions démontage.
            Les conseils des bénévoles mécano•es et les documents pédagogiques
            vous accompagneront dans l'apprentissage ! Pas de besoins d'être
            un·e pro pour venir !</p>
          </li>
          <li>
            <p color="#FF6900"><strong>Acquérir un vélo d'occasion</strong> pour les adhérent•es. L'atelier
            met en vente des vélos "prêts à rouler" (remis en état par un•e bénévole) ou
            "à retaper" pour pouvoir s'exercer tout en étant accompagné•e dans la réparation.</p>
          </li>
          <li>
            <p><strong>Partir en balade à vélo</strong> avec d'autres cyclistes. De manière ponctuelle sur
            une journée, ou pour de plus grands trajets, La Véloterie offre un réseau de personnes
            avec qui pédaler. L'atelier offre également un espace dédié au voyage à vélo, avec cartes,
            itinéraires et conseils pour ses paquetages.</p>
          </li>
          <li>
            <p><strong>Donner un vélo inutilisé</strong> car c'est le coeur du fonctionnement de la Véloterie.
            Il repose sur la revalorisation et la réutilisation de pièces détachées de vélos abandonnés
            ou inutilisés. Cela donne accès à des pièces parfois disparues dans le
            commerce et de diminuer le coût de traitement de ces matériaux pour les
            collectivités. Contactez-nous pour donner une nouvelle vie à vos vieux vélos !</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="photos-container">
    <%= image_tag "photos/mains-velo.jpg"%>
    <%= image_tag "photos/outillage.jpg"%>
    <%= image_tag "photos/serre-boulon.jpg"%>
  </div>

  <div class="presentation-card" data-aos="fade-up-right" data-aos-duration="800">
    <div class="card-title">
      <%= image_tag "outils_cercle.png", class: "card-img-round" %>
      <h2>Nos prestations</h2>
    </div>
    <div class="card-description">
      <ul>
        <li>
          <p class="mt-2"><strong>La véloterie vient à vous !</strong> Grâce à leur
          super remorque, les animateur•ices d'ateliers pourront venir à votre rencontre
          pour des ateliers de réparation et de sensibilisation autour du vélo. Nous
          apportons 3 ou 4 supports de réparation, l’outillage nécessaire pour une
          grande partie des réparations ainsi que nos outils pédagogiques. Les ateliers
          mobiles de contrôle technique comportent le diagnostic et l’apprentissage des
          petites réparations et de l’entretien des vélos. En pratique, les participant•e•s
          sont amené•e•s à réparer leur vélo avec l’aide des mécano•es.</p>
        </li>
        <li>
          <p><strong>Qui peut demander une prestation ?</strong> Que ce soit dans votre
          établissement scolaire, votre entreprise ou votre association, n'hésitez pas à nous contacter
          pour nous raconter vos envies et connaître nos tarifs.</p>
        </li>
        <li>
          <p><strong>Ce que nous ne faisons pas</strong>. Certaines opérations n’étant
          réalisables qu’en atelier, il peut être pertinent de sonder les besoins
          spécifiques en amont de notre venue. Nous ne sommes pas en mesure de réaliser
          des opérations sur des vélos électriques ou des vélos high-tech.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="photos-container">
    <%= image_tag "photos/depart-balade.jpg"%>
    <%= image_tag "photos/enfants.jpg"%>
    <%= image_tag "photos/balade.jpg"%>
  </div>

  <a name="contact"></a>
  <div class="card-right">
    <div class="presentation-card" data-aos="fade-up-left" data-aos-duration="800">
      <div class="card-title">
        <%= image_tag "outils_cercle.png", class: "card-img-round" %>
        <h2>Nous rejoindre et nous suivre</h2>
      </div>
      <div class="card-description">
      <p class="mt-2">Adhérer à La Véloterie permet de nous soutenir <strong>financièrement mais aussi politiquement</strong>.
      Plus nous serons nombreux•ses, plus notre voix aura de poids auprès des pouvoirs publics.</p>
      <ul>
        <li>
          <p>L'adhésion se fait à prix libre sur HelloAsso : <%= link_to "adhérez en cliquant ici", "https://www.helloasso.com/associations/la-veloterie/adhesions/adhesion-annuel", class:"card-link", target: :_blank %>.</p>
        </li>
        <li>
          <p>Pour donner son vélo inutilisé ou pour toute autre demande vous pouvez contacter : <strong>Gabriel - 07 83 27 36 36</strong>.</p>
        </li>
        <li>
          <p>Pour suivre nos actualités RDV sur notre page <%= link_to "Facebook", "https://www.facebook.com/La.Veloterie.Cahors", class: "card-link", target: :_blank %> ou grâce à nos flyers dans la ville.</p>
        </li>
        <li>
          <p>Vous pouvez également nous écrire à l'addresse suivante : <%= mail_to "laveloterie46@gmail.com", "laveloterie46@gmail.com", class: "card-link" %>.</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="presentation-card">
    <div class="card-title">
      <%= image_tag "outils_cercle.png", class: "card-img-round" %>
      <h2>Nos événements</h2>
    </div>
    <div class="card-calendar">
      <div class="smgc-calendar-placeholder" id="smgc-cal-dzevoqwSEIr06FreivU8"></div>
    </div>
  </div>
</div>
<div class="footer">
  <%= link_to 'https://cahorsagglo.fr/', target: :_blank do %>
    <%= image_tag "partenaires/Agglomeration.jpg"%>
  <% end %>
  <%= link_to 'https://www.fub.fr/', target: :_blank do %>
    <%= image_tag "partenaires/fub.jpg"%>
  <% end %>
  <%= link_to 'https://www.mjc-cahors.fr/', target: :_blank do %>
    <%= image_tag "partenaires/mjc.jpg"%>
  <% end %>
  <%= link_to 'https://www.emmaus-cahors.fr/', target: :_blank do %>
    <%= image_tag "partenaires/Emmaus.jpg"%>
  <% end %>
  <%= link_to 'https://www.fondation-macif.org/', target: :_blank do %>
    <%= image_tag "partenaires/MACIF.png"%>
  <% end %>
  <%= link_to 'https://www.heureux-cyclage.org/', target: :_blank do %>
    <%= image_tag "partenaires/heureuxcyclage.png"%>
  <% end %>
</div>

<script type="text/javascript" src="https://stylemygcal.com/widget.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
